<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--
  o *ngFor é um diretiva, ela mexe com a estrutura da pagina, todas as diretivas tem o * no começo
  Nesse exemplos iremos utilizar o Loop
  -->
   <ion-card *ngFor="let filme of lista_filmes">
    <!-- Esse comando acima estou dizendo que a variavel filme vai ser o vetor lista_filmes  -->

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/marty-avatar.png">
      </ion-avatar>
      <h2>{{filme.original_title}}</h2>
      <p>{{filme.release_date}}</p>
    </ion-item>
    
    <!-- Como utilizamos o [] o src virou uma expressão, por isso tivemos que utilizar o '' + com a variavel senão ele interpretatia o link todo como código -->
    <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{filme.overview}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{objetoFeed.qntd_likes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{objetoFeed.qntd_comments}} Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
            {{objetoFeed.time_comment}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>